body *{
	padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	width:970px;
    height:1000px;
    /* border: 2px solid rgb(15, 15, 15); */
}
h1, h2, h3, h4 {
    margin-top: 15px;
    padding-bottom: 20px;
}
h4 {
    padding-bottom: 5px;
}
.page_header {
    margin: 10px 30px 20px 2px;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    background: rgb(218, 227, 243);
}
p {
    font-size: 20px;
}
.message ul, li {
    font-style: italic;
    color: red;
    margin-bottom: 20px;
    margin-left: 20px;
}
.main_reg_log_container {
    /* border: 2px solid darkgrey; */
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.all_plans {
    /* border: 2px solid rgb(192, 39, 179); */
    display: flex;
    justify-content: space-between;
    /* width: 1000px; */
}
.form{
    width: 350px;
    font-weight: bold;
}
.travel_schedule {
    width: 600px;
    /* border: 2px solid rgb(4, 128, 128); */
}
.description {
    width: 300px;
    height: 100px;
    word-wrap: normal;
    overflow-wrap: break-word;
}
textarea {
    width: 300px;
    height: 100px;
    word-wrap: normal;
    overflow-wrap: break-word;
    padding: 6px;
    border: 2px solid gray;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: white;
    text-align: left;
}
.form input[type=text], input[type=password], input[type=date] {
    padding: 6px;
    border: 2px solid gray;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: white;
    text-align: left;
}
.form button {
    background-color: #224b6d;
    border: 2px solid darkgrey;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    margin-top: 20px;
    cursor: pointer;
}
table, th, tr, td {
    border: 2px solid darkgrey;
}